<h1>List Product</h1>

<a [routerLink]="['Product/Add']" >Add Product</a><br/><br/>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </tfoot>
    </table>
    